*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden !important;
}
:root{
    --body-text: #404856;
    --black: #060305;
    --white-color: #FFFFFF;
    --slider1: #f4e5e1;
    --offwhite-color: #e2feff;
    --yellow-color: #edb036;
    --blue-color: #58a9ea;
    --green-color: #51983c;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --transition: .3s;
}
body{
    color: var(--body-text) !important;
    line-height: 150% !important;
    font-size: 16px;
}
@media (min-width: 576px) {
    .container{
        max-width: 540px;
        margin: auto;
        /* padding: 0 15px; */
    }
}
@media (min-width: 767px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width: 991px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1199px) {
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}
@media (max-width: 575px) {
    .container{
        max-width: 100%;
        margin: auto;
        padding: 0 15px;
    }
}
h1,h2,h4,h5,h6{
    color: var(--black);
    line-height: 1.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 12px;
}
p{
    color: var(--body-text);
    font-size: 14px;
    line-height: 1.5;
    font-family: sans-serif;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    font-family: sans-serif;
}
.back_img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
ul{
    padding: 0;
    list-style: none;
}
/* slider 1 css */

.slider1 {
    padding: 100px 0;
}

.slider_title {
    /* text-align: center; */
    margin-bottom: 30px;
}
.slide_item {
    background: var(--slider1);
    padding: 50px 50px 80px;
    display: flex !important;
    gap: 20px;
    align-items: flex-start;
}
.slide_con {
    padding-top: 5px;
}
.slider1_bar  {
    min-height: 115px;
    max-height: 115px;
    max-width: 100%;
    margin: auto;
}
.slider1_bar  .simplebar-track.vertical {
    background: rgb(198, 200, 204);
    width: 3px;
    border-radius: 2px;
}
.slider1_bar .simplebar-track.vertical .simplebar-scrollbar {
    opacity: 1 !important;
    border-radius: 2px;
    width: 100%;
    background-color: #86848c;
    right: 0;
    top: 0;
}
.slide_con p {
    font-size: 16px;
    line-height: 1.5;
    /* margin-bottom: 50px; */
    color: rgba(64, 72, 86, 0.8);
    font-weight: var(--font-weight-semibold);
    margin-right: 15px;
}
.slide_con h4 {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0;
    /* min-height: 40px; */
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--body-text);
    margin-top: 25px;
}

.first_slider .slick-slide {
    margin: 0 25px;
}
.first_slider ul.slick-dots li {
    width: 14px;
    height: auto;
    aspect-ratio: 1/1;
}
.first_slider ul.slick-dots li button {
    border-radius: 50%;
    border: 2px solid var(--slider1);
    width: 100%;
    height: 100%;
    transition: .3s;
}
.first_slider ul.slick-dots li.slick-active button, .first_slider ul.slick-dots li button:hover {
    background: var(--slider1);
}

.first_slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--slider1);
}
.first_slider .slick-dots li button:before {
    content: none;
}
.first_slider ul.slick-dots {
    position: unset;
    display: flex !important;
    justify-content: flex-start;
}
.first_slider .slick-next, .first_slider .slick-prev{
    /* position: unset; */
    transform: unset;
}
.first_slider .slick-next:before, .first_slider .slick-prev:before{
    content: none;
}
.first_slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 30px;
    padding-top: 50px;
}
/* .first_slider .slick-list {
    overflow: visible;
} */
.first_slider .slick-list.draggable {
    --width: 310px;
    flex: 1 0 100%;
    width: 100%;
    margin-right: calc( var(--width) * -1);
    padding-right:  var(--width);
}

.first_slider .slick-arrow {
    flex: 0 0 auto;
    order: -1;
}
.first_slider .slick-track {
    margin-left: -25px;
    margin-right: -25px;
}
.first_slider .slick-prev {
    top: 0;
    right: 40px;
    left: auto;
}
.first_slider .slick-next {
    right: 0;
    top: 0;
}
@media (max-width: 767px){
	.first_slider {
	    padding-top: 0;
	    gap: 20px;
	}
}
@media (max-width: 575px) {
    .slide_item{
        padding: 20px;
        gap: 10px;
        flex-direction: column;
        align-items: end;
    }
    .first_slider .slick-slide {
        margin: 0 10px;
    }
    .first_slider .slick-track {
        margin-left: -10px;
        margin-right: -10px;
    }
}
/* second slider css */
.slider2 {
    padding: 100px 0;
    background: #2c2e2d;
    position: relative;
    overflow: hidden;
    z-index: 5;
}
.slider2_inner .slider_title {
    text-align: center;
    margin-bottom: 40px;
}
.slider2_inner .slider_title h2 {
    color: var(--white-color);
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.slider2_inner .slider_title p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 564px;
    margin: 0 auto;
    color: var(--white-color);
}
.slide_img_inner.back_img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
}
.second_slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 30px;
    align-items: center;
}
.second_slider ul.slick-dots li {
    width: 6px;
    height: auto;
    aspect-ratio: 1/1;
    margin: 0 8px;
    transition: var(--transition);
}
.second_slider ul.slick-dots li.slick-active{
    width: 16px;
}
.second_slider ul.slick-dots li button {
    border-radius: 50%;
    /* border: 2px solid var(--slider1); */
    background: #bcbdbc;
    width: 100%;
    height: 100%;
    transition: .3s;
}
.second_slider ul.slick-dots li.slick-active button, .second_slider ul.slick-dots li button:hover {
    background: var(--yellow-color);
}
.second_slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--slider1);
}
.second_slider .slick-dots li button:before {
    content: none;
}
.second_slider .slick-dots li button:before {
    content: none;
}
.second_slider ul.slick-dots {
    position: unset;
    display: flex !important;
    justify-content: flex-start;
    align-items: baseline;
    flex: 1;
}
.second_slider .slick-next, .second_slider .slick-prev{
    position: unset;
    transform: unset;
    border: 1px solid var(--white-color);
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.second_slider .slick-next img, .second_slider .slick-prev img{
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(4%) hue-rotate(341deg) brightness(102%) contrast(103%);
}
.second_slider .slick-next:before, .second_slider .slick-prev:before{
    content: none;
}
.second_slider .slick-arrow {
    flex: 0 0 auto;
    order: 1;
    transition: var(--transition);
}
.second_slider .slick-arrow:hover{
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
}

.slider_bg {
    background: radial-gradient(circle, rgb(115 95 51) 0%, rgb(81 69 42) 25%, rgb(73 67 48 / 0%) 75%, rgb(44 46 45) 100%);
    width: 333px;
    height: 350px;
    position: absolute;
    right: -135px;
    top: -123px;
    z-index: -1;
}
.second_slider .slick-list.draggable {
    flex: 1 0 100%;
    /* margin: 0 -25px; */
    max-width: 100%;
}
.second_slider .slick-list {
    overflow: visible;
    /* padding: 0 40px; */
}

.second_slider .slick-track{
    position: relative;
}
.second_slider .slick-slide{
    opacity: 0.2;
    transition: var(--transition);
    margin: 0 15px;
}
.second_slider .slick-slide.slick-active{
    opacity: 1;
}
@media (max-width: 767px) {
    .slide_img_inner.back_img {
        height: 300px;
    }
    .second_slider {
        justify-content: center;
    }
    .slider2_inner .slider_title h2 {
        font-size: 28px;
    }
    .second_slider .slick-slide {
        margin: 0 8px;
    }
	.second_slider{
		gap: 24px 12px;
	}
	
}
@media (max-width: 400px){
	.second_slider .slick-list {
    padding: 0 14px;
}

.slide_img_inner.back_img {
    height: 250px;
}
}

/*  slider 3 css */
.slider3 {
    background: #0d2433;
    padding: 100px 0;
    position: relative;
}
.slider3_pattern{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 46%;
    height: 100%;
    background-color: #153246;
    clip-path: polygon(125px 0%, 100% 0%, 100% 100%, 0 100%);
    background: linear-gradient(45deg, #153246, #0d2433);
    z-index: 0;
}
.slider3_pattern::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 72px;
    width: 15px;
    height: 100%;
    background: radial-gradient(circle, rgba(24, 53, 73, 1) 0%, rgb(31 60 79 / 73%) 52%, rgb(193 193 193 / 0%) 100%);
    z-index: 1;
    transform: skew(349deg, 360deg);
}
.slider3_pattern::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 100px;
    width: 40px;
    height: 100%;
    background: radial-gradient(circle, rgba(24, 53, 73, 1) 0%, rgb(31 60 79 / 73%) 52%, rgb(20 40 57 / 53%) 100%);
    z-index: 1;
    transform: skew(349deg, 360deg);
}
.slider3_inner {
    position: relative;
    z-index: 1;
}
.slider3_inner .slider_title h2 {
    color: var(--white-color);
    font-size: 34px;
    margin-bottom: 25px;
}
.slider3_inner .slider_title h2 span{
    color: var(--blue-color);
}
.slider3_inner .slider_title p{
    color: var(--offwhite-color);
    font-size: 16px;
}
.third_slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 80px;
}
.third_slider .slide_item{
    background-color: var(--white-color);
    padding: 40px 34px;
}
.slide3_con h5 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.2;
    padding-top: 15px;
    border-top: 1px solid rgba(64, 72, 86, 0.1);
    margin-top: 15px;
}
.slider3_bar {
    min-height: 170px;
    max-height: 170px;
    /* padding-bottom: 20px; */
}
.slider3_bar .simplebar-track.vertical {
    background: rgb(198, 200, 204);
    width: 3px;
    border-radius: 2px;
}
.slider3_bar .simplebar-track.vertical .simplebar-scrollbar {
    opacity: 1 !important;
    border-radius: 2px;
    width: 100%;
    background-color: var(--blue-color);
    right: 0;
    top: 0;
}
.slider_review_star {
    margin-bottom: 10px;
}
.slider_star_rating {
    display: block;
    line-height: 1;
}
.slider_starating_inner {
    --width: 120px;
    --height: 25px;
    position: relative;
    display: inline-block;
}
.slider_starating_inner:before {
    content: "";
    display: block;
    -webkit-mask-image: url(../imgs/staroutline.svg);
    -webkit-mask-repeat: repeat;
    -webkit-mask-position: 100%;
    background-color: #FDC93B;
    width: var(--width);
    height: var(--height);
}
.slider_star_rating__fill {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: fill-star 2s ease-in-out;
}
.slider_star_rating__fill:before {
    content: "";
    display: block;
    -webkit-mask-image: url(../imgs/star.svg);
    -webkit-mask-repeat: repeat;
    -webkit-mask-position: 100%;
    width: var(--width);
    height: var(--height);
    background-color: #FDC93B;
}
.third_slider .slick-track {
    margin-left: -25px;
    margin-right: -25px;
}
@keyframes fill-star {
    to {
        width: 0;
    }

    from {
        width: 100%;
    }
}
.third_slider .slick-next:before, .third_slider .slick-prev:before{
    content: none;
}
.third_slider .slick-list{
    /* overflow: visible; */
    /* max-width: 100%; */
    --width: 350px;
    flex: 1 0 100%;
    width: 100%;
    margin-right: calc(var(--width)* -1);
    padding-right: var(--width);
}
.third_slider .slick-slide{
    margin: 0 25px;
}

.third_slider .slick-arrow {
    flex: 0 0 auto;
    order: 1;
    transition: var(--transition);
    /* position: unset; */
    transform: unset;
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    background: var(--blue-color);
    /* margin-top: 20px; */
    transition: var(--transition);
}
.third_slider .slick-arrow:hover{
    background-color: var(--black);
}
.third_slider .slick-next img, .third_slider .slick-prev img{
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(4%) hue-rotate(341deg) brightness(102%) contrast(103%);
}
.third_slider .slick-prev {
    left: 0;
    bottom: 0;
    top: auto;
}
.third_slider .slick-next {
    right: 0;
    bottom: 0;
    top: auto;
    left: 70px;
}
p.slider3_con {
    margin-right: 15px;
}
@media (max-width: 767px) {
    .third_slider .slick-track {
        margin-left: -10px;
        margin-right: -10px;
    }
    .third_slider .slick-slide {
        margin: 0 10px;
    }
    .third_slider .slick-arrow {
        width: 40px;
    }
    .slider3_inner .slider_title h2{
        font-size: 28px;
    }
    .third_slider .slide_item {
        padding: 20px 15px;
    }
    .slider3_bar p {
        margin-right: 15px;
    }
	.third_slider .slick-next {
	    left: 60px;
	}
	.third_slider {
	    padding-bottom: 60px;
	}
}

/* fourth slider css */
.slider4 {
    background: #f6f6f6;
    padding: 100px 0;
    position: relative;
}
.slider4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 275px;
    top: 0;
    left: 0;
    clip-path: polygon(50% 65%, 0 0, 100% 0);
    background-color: var(--white-color);
}
.slider4_inner {
    padding-top: 130px;
}
.slider4_inner .slider_title {
    text-align: center;
}
.slider4_inner .slider_title h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: var(--green-color);
}
.slider4_inner .slider_title p {
    font-size: 16px;
}
.slider4_item .slide_con {
    text-align: center;
    padding-top: 0;
}
.slider4_item p {
    margin: auto;
    max-width: 550px;
    line-height: 1.5;
}
.slider4_item h5 {
    font-size: 18px;
    margin-top: 50px;
}
/* .fourth_slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
} */
.fourth_slider .slick-list {
    overflow: visible;
    max-width: 910px;
    margin: auto;
}
.fourth_slider .slick-next img, .fourth_slider .slick-prev img{
    filter: brightness(0) saturate(100%) invert(58%) sepia(22%) saturate(772%) hue-rotate(73deg) brightness(92%) contrast(90%);
}
.fourth_slider .slick-next {
    right: 205px;
}
.fourth_slider .slick-prev {
    left: 205px;
}
.fourth_slider .slick-next:before, .fourth_slider .slick-prev:before{
    content: none;
}
.fourth_slider .slick-slide{
    margin: 0 25px;
}
.fourth_slider .slick-arrow {
    transition: var(--transition);
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .2);
    z-index: 2;
}
.fourth_slider .slick-arrow:hover{
    background-color: var(--green-color);
}
.fourth_slider .slick-arrow:hover img, .fourth_slider .slick-arrow:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(77%) saturate(2%) hue-rotate(310deg) brightness(110%) contrast(101%);
}
.fourth_slider .slick-slide {
    opacity: 0.2;
    transition: var(--transition);
}
.fourth_slider .slick-slide.slick-active {
    opacity: 1;
}
.slider4_review_star {
    margin-bottom: 10px;
}
.slider4_star_rating {
    display: block;
    line-height: 1;
}
.slider4_starating_inner {
    --width: 120px;
    --height: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.slider4_starating_inner:before {
    content: "";
    display: block;
    -webkit-mask-image: url(../imgs/blckstaroutline.svg);
    -webkit-mask-repeat: repeat;
    -webkit-mask-position: 100%;
    background-color: var(--black);
    width: var(--width);
    height: var(--height);
}
.slider4_star_rating__fill {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: fill-star 2s ease-in-out;
}
.slider4_star_rating__fill:before {
    content: "";
    display: block;
    -webkit-mask-image: url(../imgs/blckstar.svg);
    -webkit-mask-repeat: repeat;
    -webkit-mask-position: 100%;
    width: var(--width);
    height: var(--height);
    background-color: var(--black);
}
.slider4_item .slider_bar {
    min-height: 0;
    max-height: 100px;
    max-width: 90%;
    margin: auto;
}
.slider4_item  .simplebar-track.vertical {
    background: rgb(198, 200, 204);
    width: 3px;
    border-radius: 2px;
}
.slider4_item  .simplebar-track.vertical .simplebar-scrollbar {
    opacity: 1 !important;
    border-radius: 2px;
    width: 100%;
    background-color: var(--green-color);
    right: 0;
    top: 0;
}
@keyframes fill-star {
    to {
        width: 0;
    }

    from {
        width: 100%;
    }
}
@media (max-width: 1199px) {
    .fourth_slider .slick-prev {
        left: 0;
    }
    .fourth_slider .slick-next {
        right: 0;
    }
    .fourth_slider .slick-arrow {
        width: 40px;
    }
}

@media (max-width: 767px) {
    .slider4_item p {
        margin: 0 30px;
    }
    .slider4::after {
        height: 165px;
    }
    .slider4_inner {
        padding-top: 40px;
    }
    .slider4_inner .slider_title h2 {
        font-size: 30px;
    }
	.slider4_item .slider_bar {
	   max-width: 90%;
	}
}
@media (max-width: 575px) {
    .slider4::after {
        height: 100px;
    }
}

@media (max-width: 400px) {
   .fourth_slider .slick-prev{
       bottom: -75px;
       top: auto;
       left: 33%;
    }
    .fourth_slider .slick-next, .fourth_slider .slick-prev{
        /* position: relative; */
    }
    .fourth_slider .slick-next {
        /* left: auto; */
        bottom: -75px;
        top: auto;
        right: 33%;
    }
    .slider4_item .slider_bar {
        max-width: 100%;
    }
    .slider4_item p {
        margin: 0 10px 0 0;
    }
}


/* slider 5 */
.slider {
	background: green;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: 0.6s;
	width: 100%;
}

.slider__element {
	flex: 1;
	transition: 1.2s;
}
.slider__element img{
    width: 100%;
    height: 100%;
}
.slider__element:hover {
	flex: 10;
}

@media (min-width: 640px) {
	.slider {
		flex-direction: row;
		height: 400px;
	}
}